In [1]:
12345

12345

In [2]:
4353535

4353535

Data Analysis

# Data Analysis

## Data Analysis

### Data Analysis

#### Data Analysis

##### Data Analysis

###### Data Analysis

In [3]:
print ("Hello World!")

Hello World!

## For single and Multi line Comment

In [4]:
print ("Hello")
#print ("Hello World")

Hello

In [5]:
"""
print ("Hello")
print ("Hello World")
print ("Hi")
print ("Data Analysis") 
"""

'\nprint ("Hello")\nprint ("Hello World")\nprint ("Hi")\nprint ("Data Analysis") \n'

# Variables

In [6]:
# VARIABLES ARE CONTAINER FOR STORING VALUES
# LEGAL VARIABLES
# Camel Case
myCourse = "Data Analysis"
print(myCourse)

Data Analysis

In [7]:
# Pascal Case
MyCourse ="Softwera Development"
MyCourse

'Softwera Development'

In [8]:
# Snake case- each statement is seperated with _
my_course ="Softwera Development"
my_course

'Softwera Development'

In [9]:
# ILLEGAL VARIABLES
# my-course = "Data Analysis"
# student ID = 86635763
# 2mycourse = "Frontend"

# Primitive DATA TYPES

In [10]:
# STRINGS
a = "Hello World"
b = "10"
c = "30.7"
print(a,b,c)

Hello World 10 30.7

In [11]:
type (a)

str

In [12]:
# STRINGS METHODS
# Capitalize
name = "samson"
name = name.capitalize()

In [13]:
name

'Samson'

In [14]:
# Upper
name.upper()

'SAMSON'

In [15]:
# Lower
name.lower()

'samson'

In [16]:
# Strip used to remove blank space
name2 = " sam son "
name2.strip()

'sam son'

In [17]:
# Replace used to replace cahracter
name.replace("n","m")

'Samsom'

In [18]:
# INTEGER
num1 = 10
num2 = 20
num3 = 30

In [19]:
type (num1)

int

In [20]:
# FLOATS
float1 = 20.5
float1

20.5

In [21]:
type(float1)

float

In [22]:
# BOOLEAN
bool1 = True
bool2 = False
type (bool1)

bool

In [23]:
# COMPLEX is primitive type that has number and imaginary number
number = 1j
number

1j

In [24]:
type (number)

complex

# TYPE CASTING

In [25]:
a ="10"
type (a)

str

In [26]:
# changing from string to intiger
a = int(a)

In [27]:
type (a)

int

In [28]:
# from float to int
number = 10.3
type (number)

float

In [29]:
number = int(number)
type(number)

int

# STRINGS CONCATENATION

In [30]:
# first method
first_name = "Elisha"
last_name = "Oyeleye"
print (first_name,last_name)

Elisha Oyeleye

In [31]:
# second method
first_name = "Elisha"
last_name = "Oyeleye"
print (first_name + " " + last_name)

Elisha Oyeleye

In [32]:
print ("My name is",first_name,last_name)

My name is Elisha Oyeleye

# OPERATORS

In [33]:
# ARITHMETIC OPRATORS ARE +,-,/,**,**,//,%
a = 5
b = 10
# ADDITION
print (a + b)

# substraction
print (b - a)

# DIVISION
print (a / b)

# MULTIPLICATION
print (b * a)

# EXPONENTS
print (a ** b)

# FLOOR DIVISION
print (b // a)

# MODULUS
print (b % a)

15
5
0.5
50
9765625
2
0

In [34]:
# BODMAS
# PEMDAS = PARENTHESIS, EXPONENTS, MULTIPLICATION,DIVISION, ADDITION, AND SUBSTACTION

In [35]:
3+5*(10-6)/7**2+5

8.408163265306122

In [36]:
# EXERCISE
45+(15-10*9)**4/9-5

3515665.0

# ASSIGNMENT OPERATORS

In [37]:
# =,+=,-=,*=,**= IT IS USE TO ASSIGN VALUES TO A VARABLE

y = 10
z = 15

In [38]:
y += 5
# y = y + 5
y

15

In [39]:
y -= 5
# y = y - 5
y

10

In [40]:
y **= 5
# y = y ** 5
y

100000

In [41]:
y *= 5
# y = y * 5
y

500000

# STRING FROMATING

In [42]:
# This is the process of inserting a custom string or vairables in predefined text
name = "Elisha"
course = "Data analysis"
print (f"My name is {name} and i am studying {course}")

My name is Elisha and i am studying Data analysis

In [43]:
name = "Elisha"
course = "Data analysis"
print ("My name is", name,"and i am studying", course)

My name is Elisha and i am studying Data analysis

# COMPARISON OPERATORS

In [44]:
#  == is equal to
a = 5
b = 5
print (a==b)

True

In [45]:
# != not equel to
x = 10
y = 10
print (x!=y)

False

In [46]:
# less than
p = 12
q = 75
print (p<q)

True

In [47]:
# greater than
p = 12
q = 75
print (p>q)

False

In [48]:
#  greater-than or eual to
print (30>=30)

True

In [49]:
#  less-than or eual to
print (200>=1000)

False

# LOGICAL OPERATORS

In [50]:
# THE AND OPERATOR
print (12 > 6 and 10 < 7)
# T AND F

False

In [51]:
print (109<90 and 10>10 and 4 == 4)
# F AND F AND T AND T

False

In [52]:
# THE OR OPERATOR
print (10<8 or 9>10 or 1>0)
# F OR F OR T

True

In [53]:
# THE NOT OPRTATOR
print (not 5>6)

True

In [54]:
print (10>6 and 7<9 or not 5>6 or 9>10 and 6>7)
# T AND T OR F OR T AND F
# T OR T AND F
# T OR F
# T

True

# INPUT FUNCTION

In [55]:
name = input("What is your name ? ")
print (F"My name is {name}")

What is your name ?
My name is

# CONDITIONAL STATEMENTS

In [56]:
x = 10
y = 25
z = 40
if x>y:
    print ("X is greater than Y")
else:
    print("X is not greater than Y")

X is not greater than Y

In [57]:
if x>y:
    print ("X is greater than Y")
elif z>y:
    print("Z is also greater than Y")
else:
    print("X is not greater than Y")

Z is also greater than Y

In [58]:
# MODULUS - IT RETURNS THE REMAINDER
num1 = 200
num2 = 60
num3 = 30

In [59]:
num3 % 3

0

In [60]:
if num1 % 2 ==0:
    print (f"{num1} is an even number")
else:
    print (f"{num1} is an odd number")

200 is an even number

# PALINDROME WORDS

In [61]:
# palindrome words
palindrome = "rotator"
if palindrome [0:] == palindrome[::-1]:
    print(f"{palindrome.upper()} is a palindrome word")

ROTATOR is a palindrome word

# SLICING AND STRIDING

In [62]:
# positive indexing- is accessing an string from the beginging
a = "Python"
a[0:2]

'Py'

In [63]:
a[2:]

'thon'

In [64]:
# negative indexing
a[-1]

'n'

In [65]:
# STRIDING
# a[start:end:skip]
a[2:6:3]

'tn'

# DATA COLLECTION TYPE
## 1. LIST OR ARAYS
### List are orgnized, mutable,or changable and also allows duplicate values.

In [66]:
# LIST
values = ["orange", 45, 79.8,True, False, 1j, 45, 45, 45]
values

['orange', 45, 79.8, True, False, 1j, 45, 45, 45]

In [67]:
# TO CHANGE ANY VALUES (index 0 = orange)
values[0] = "Apple"
values

['Apple', 45, 79.8, True, False, 1j, 45, 45, 45]

In [68]:
values[-4] = 35
values

['Apple', 45, 79.8, True, False, 35, 45, 45, 45]

In [69]:
# APPEND METHOD IS USE TO ADD ITEMS TO A VALUE
fruits = [ "Apple", "Pineapple", "Cherry"]
fruits.append("Banana")
fruits

['Apple', 'Pineapple', 'Cherry', 'Banana']

In [70]:
# EXTEND METHODS
fruits.extend (["WaterMelon", "Mango", "Onions"])
fruits

['Apple', 'Pineapple', 'Cherry', 'Banana', 'WaterMelon', 'Mango', 'Onions']

In [71]:
len(fruits)

7

In [72]:
# insert- to know how to use a function just put question mark? e.g fruit.insert?
fruits.insert(3, "PawPaw")
fruits

['Apple',
 'Pineapple',
 'Cherry',
 'PawPaw',
 'Banana',
 'WaterMelon',
 'Mango',
 'Onions']

In [73]:
subject = ["Math", "English", "Data Analysis", "Computer"]
subject

['Math', 'English', 'Data Analysis', 'Computer']

In [74]:
subject.clear()

In [75]:
subject

[]

In [76]:
subject.append ("Computer")

In [77]:
subject

['Computer']

In [78]:
ListOfNunber = [20,37,67,28,16,2,16,90]
ListOfNunber

[20, 37, 67, 28, 16, 2, 16, 90]

In [79]:
# Sort in asending order
ListOfNunber.sort()

In [80]:
ListOfNunber

[2, 16, 16, 20, 28, 37, 67, 90]

In [81]:
# sort in decending order
ListOfNunber.sort(reverse=True)

In [82]:
ListOfNunber

[90, 67, 37, 28, 20, 16, 16, 2]

In [83]:
# COPY
fruits2 = fruits.copy()

In [84]:
fruits2

['Apple',
 'Pineapple',
 'Cherry',
 'PawPaw',
 'Banana',
 'WaterMelon',
 'Mango',
 'Onions']

In [85]:
# POP- it is used to remove the last item of the list if an index is not passed
fruits2.pop()

'Onions'

In [86]:
fruits2

['Apple', 'Pineapple', 'Cherry', 'PawPaw', 'Banana', 'WaterMelon', 'Mango']

In [87]:
fruits2.pop(2)

'Cherry'

In [88]:
fruits2

['Apple', 'Pineapple', 'PawPaw', 'Banana', 'WaterMelon', 'Mango']

In [89]:
# REMOVE
fruits2.remove("PawPaw")

In [90]:
fruits2

['Apple', 'Pineapple', 'Banana', 'WaterMelon', 'Mango']

In [91]:
# DEL
del fruits2

# TUPLES
### Tuples are orderd, immutated and also allows duplicate values

In [92]:
roundomTuples = (12, "python", True, False, 4j, [1,2,3,4], 'python')

In [93]:
roundomTuples

(12, 'python', True, False, 4j, [1, 2, 3, 4], 'python')

In [94]:
roundomTuples[5]

[1, 2, 3, 4]

In [95]:
roundomTuples[5][2]

3

In [96]:
# ACCESS 90 USING IT'S INDEX
number2 = (12,56,[1,2,3,[90,12]])
number2

(12, 56, [1, 2, 3, [90, 12]])

In [97]:
number2 [2][3][0]

90

In [98]:
# add an item to an excisting tuple
roundomTuples

(12, 'python', True, False, 4j, [1, 2, 3, 4], 'python')

In [99]:
# cast randomTuples to list
tuplesConv = list(roundomTuples)

# append
tuplesConv.append("javascript")
tuplesConv

# cast back to tuple
roundomTuples = tuple(tuplesConv)
roundomTuples

(12, 'python', True, False, 4j, [1, 2, 3, 4], 'python', 'javascript')

# SET
### Set are unordered immutable and does not allow duplicate values

In [100]:
setOfNumber ={23, 14, 65, 32, 19, 23, 23, 23}
# add an element to the set
setOfNumber.add (39)

In [101]:
setOfNumber

{14, 19, 23, 32, 39, 65}

In [102]:
setOfFruits1 = {"Apple", "Cherry", "Banan"}
setOfFruits2 = {"Cherry", "Mango", "PawPaw","Apple"}

### UNION

In [103]:
# UNION
setOfFruits1.union(setOfFruits2)

{'Apple', 'Banan', 'Cherry', 'Mango', 'PawPaw'}

### INTERSECTION

In [104]:
# INTERSECTION - RETUNS MATCHING ELEMENT
setOfFruits1.intersection(setOfFruits2)

{'Apple', 'Cherry'}

###  DIFFERENCE

In [105]:
# IT'S bringing out what is not in each sets
setOfFruits1.difference(setOfFruits2)

{'Banan'}

In [106]:
setOfFruits2.difference(setOfFruits1)

{'Mango', 'PawPaw'}

# DICTIONARIES
### Dictionaries are ordered, Mutable, and doesn't allow duplicate values
### KEY : VALUE

In [107]:
car_details = {
    "car name":"Volvo",
    "colour" : "Red",
    "price"  : 20000,
}

In [108]:
type(car_details)

dict

In [109]:
car_details["colour"]

'Red'

In [110]:
car_details["price"]

20000

In [111]:
car_details.keys()

dict_keys(['car name', 'colour', 'price'])

In [112]:
car_details.values()

dict_values(['Volvo', 'Red', 20000])

In [113]:
car_details.items()

dict_items([('car name', 'Volvo'), ('colour', 'Red'), ('price', 20000)])

In [114]:
car_details["colour"] = "Silver"

In [115]:
car_details

{'car name': 'Volvo', 'colour': 'Silver', 'price': 20000}

In [116]:
# To add more to the car details
car_details["Year"] = 2023

In [117]:
car_details

{'car name': 'Volvo', 'colour': 'Silver', 'price': 20000, 'Year': 2023}

In [121]:
house = { 
    "type" : ['Bungalow', 'Duplex'],
    'colour' : ['White', 'Green'],
    'plots' : [2, 4],
    'price' : [55000000, 140000000]
}

In [124]:
# key
house.keys()

dict_keys(['type', 'colour', 'plots', 'price'])

In [125]:
# values
house.values()

dict_values([['Bungalow', 'Duplex'], ['White', 'Green'], [2, 4], [55000000, 140000000]])

In [126]:
# items
house.items()

dict_items([('type', ['Bungalow', 'Duplex']), ('colour', ['White', 'Green']), ('plots', [2, 4]), ('price', [55000000, 140000000])])

In [134]:
# A white bungalow (2 plot) is available for sale for 55000000
print(f"A {house['colour'][0]} {house['type'][0]} house ({house['plots'][0]} plots) is available for sale at {house['price'][0]} Naira")

A White Bungalow house (2 plots) is available for sale at 55000000 Naira

In [135]:
# to delet a key you use pop
house.pop("plots")

[2, 4]

In [136]:
house

{'type': ['Bungalow', 'Duplex'],
 'colour': ['White', 'Green'],
 'price': [55000000, 140000000]}

In [137]:
# to copy 
elisaHouse = house.copy()

In [138]:
elisaHouse

{'type': ['Bungalow', 'Duplex'],
 'colour': ['White', 'Green'],
 'price': [55000000, 140000000]}

In [139]:
# to clear
elisaHouse.clear()

In [140]:
# to get
house.get("type")

['Bungalow', 'Duplex']

# Loops
### It's means iterationnof statements untill a particular conditionis satisfied
### Type of LOOPS
- FOR LOOPS
- WHILE LOOPS

**For loops : means iterating over sequence. It's also known as a definite loop**

In [146]:
# FOR LOOPS
values = [10,11,12,13,14,15,16,17]
values

[10, 11, 12, 13, 14, 15, 16, 17]

In [148]:
# To print even or odd number
a = 10
if a%2==0:
    print(a)

10

In [151]:
for i in values:
    if i%2 ==0:
        print(i)

10
12
14
16

In [152]:
# for odd number 
for i in values:
    if i%2 ==1:
        print(i)

11
13
15
17

In [153]:
words = ["noon", "home", "madam", "mom", "light"]
words

['noon', 'home', 'madam', 'mom', 'light']

In [159]:
for i in words:
    if i[0:] == i[::-1]:
        print(i)

noon
madam
mom

In [168]:
# Add 2 to each values
for i in values:
    i = i+2
    print(i)

12
13
14
15
16
17
18
19

**WHILE LOOPS (INDEFINATE)**
- Break Statement
- Continue Statement

In [169]:
a = 10
while a < 20:
    a = a+2
    print(a)

12
14
16
18
20

In [2]:
# Break Statement
x = 5
while x < 10:
    x = x + 1
    print(x)
    if x > 10:
        break

6
7
8
9
10

In [5]:
# Continue
a = 1 
while a < 5:
    a = a + 1
    if a == 3:
        continue
    print(a)

2
4
5

# FUNCTION
### Function is a block of code which only runs when its is called. you can pass in aguments/parameters into a function.

- def function_name(args/params)

    ...context
    
 ## Type of Argument
 - Postional Argument
 - Default Argument
 - Key Word Argument

In [6]:
def greet():
    print("Good Morning")

In [7]:
greet()

Good Morning

In [12]:
#  Function with Positional Argument
def greet(name):
    print("Good Morning", name)

In [16]:
greet("Elisha")

Good Morning Elisha

In [11]:
def introduction(name, age):
    print(f"My name is {name} and i am {age} years old")

In [12]:
introduction("Elisha", 18)

My name is Elisha and i am 18 years old

In [23]:
# Create a function to check if a number is an even number
def evenNum(i):
    if i%2 ==0:
        print(i, "is an even number")
    else:
         print(i, "is an odd number")

In [24]:
evenNum(13)

13 is an odd number

# Assigment

In [5]:
# Write a function to filter out odd numbers from [23,43,56,78,14,21]
def gh(p):
    for num in p:
        if num % 2 != 0:
            print(num, "is an odd number")

In [6]:
gh([23,43,56,78,14,21])

23 is an odd number
43 is an odd number
21 is an odd number

In [8]:
# Write a function to check if a word is a palindrome(noon)
def word(i):
        if i[0:] == i[::-1]:
            print(i, "is a palindrome word")
        else:
            print(i, "is not a palindrome word")

In [9]:
word("noon")

noon is a palindrome word

In [17]:
# Default Argument with return statement
def sum_number(a=2, b=5):
    c = a + b
    return c

In [18]:
sum_number()

7

In [22]:
# Key-word Argument
def square(number,power):
    result = number**power
    return result

In [23]:
square(power=3, number=12)

1728

# CLASSES
- Class are user-defined blue print from which objects are created and your class name must be in a capital letter

In [8]:
class Person:
#     initalize the class(__init__) self is use to ref class
    def __init__(self, name, age, complexion):
        self.name = name
        self.age = age
        self.complexion = complexion
#         method to introduce myself
    def intro(self):
        return f"My name is {self.name}, i am {self.age} year old, iam {self.complexion} in complexiom."

In [9]:
person_class = Person("John", 13, "Dark")
another_class = Person("Elisha", 17, "Yellow")

In [10]:
person_class.name

'John'

In [11]:
another_class.age

17

In [12]:
another_class.intro()

'My name is Elisha, i am 17 year old, iam Yellow in complexiom.'

In [13]:
person_class.intro()

'My name is John, i am 13 year old, iam Dark in complexiom.'